<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <style>

    .content-wrapper{
      height:2000px;
      padding-top:50px;
    }

    .div-levelCenter{
      margin-left:300px;
      width:800px;
      height:200px;
      position:absolute;
      margin-left:-400px;
      left:50%;
    }



  </style>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
  <!-- Ionicons -->
  <link rel="stylesheet" th:href="@{/bower_components/Ionicons/css/ionicons.min.css}">
  <!-- Theme style -->
  <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" th:href="@{/dist/css/skins/skin-blue.min.css}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" th:href="@{/dist/css/skins/_all-skins.min.css}">

  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
<input id="obj" type="hidden" th:value="${obj}">
<input id="obj1" type="hidden" th:value="${obj1}">
<input id="obj2" type="hidden" th:value="${obj2}">


<!--<input id="obj" type="hidden" th:value="${obj}">-->
<!--<input id="obj" type="hidden" th:value="${obj}">-->
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>KSH</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>可视化系统</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->




          <!-- <li class="dropdown messages-menu">
               <a href="#" class="hidden-xs">注册</a>
           </li>

           <li class="dropdown user user-menu">
              <a href="#" class="hidden-xs">登录</a>
           </li>-->

          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img th:src="@{/dist/img/icon.jpg}" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">中国国家博物馆</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img th:src="@{/dist/img/icon.jpg}" class="img-circle" alt="User Image">

                <p>
                  中国国家博物馆 - Web Developer
                  <small>Member since Apr. 2021</small>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">个人资料</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">退出登录</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>




  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>首页</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>观众</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">总览</a></li>
            <li><a href="/visitor/register">注册情况</a></li>
            <li><a href="/visitor/reserved">预约情况</a></li>
            <li><a href="/visitor/explain">讲解服务</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>安防</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/security/main">总览</a></li>
            <li><a href="/security/people">安防人员</a></li>
            <li><a href="/security/air_conditioner">空调</a></li>
          </ul>
        </li>





        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>藏品</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/cp/detailTotalNumber">总览</a></li>
            <li><a href="/cp/detailBorrowing">文物提借</a></li>
            <li><a href="/cp/detailType">文物征集</a></li>
            <li><a href="/cp/detailRepair">文物修复</a></li>
            <li><a href="/cp/detailStorage">储藏设备</a></li>
          </ul>
        </li>





        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>展览</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/zl/overview">总览</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

      <div class="div-levelCenter" >
      <!-- <div style="margin: 0 auto; width: 800px;">-->
        <div id="main" style="width: 800px;height:600px;"></div>
        <div id="main1" style="width: 800px;height:600px;"></div>
        <div id="main2" style="width: 800px;height:750px;"></div>

      </div>
    </div>





    <script type="text/javascript">
      var element = document.getElementById("obj").value;
      a=JSON.parse(element);
      let name=[];
      for(i=0;i<a.length;i++){
        name[i]=a[i].name;
      }
      let number_year=[];
      for(i=0;i<a.length;i++){
        number_year[i]=a[i].number_year;
      }
      let number_current=[];
      for(i=0;i<a.length;i++){
        number_current[i]=a[i].number_current;
      }
      var chartDom = document.getElementById('main');
      var myChart = echarts.init(chartDom);
      var seriesLabel = {
        show: true
      }
      var option;

      option = {
        title: {
          text: '全年展览数&当前在展数'
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'shadow'
          }
        },
        legend: {
          data: ['全年展览数', '当前在展数']
        },
        grid: {
          left: 100
        },
        toolbox: {
          show: true,
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'value',
          name: 'Days',
          axisLabel: {
            formatter: '{value}'
          }
        },
        yAxis: {
          type: 'category',
          inverse: true,
          data: name,
          axisLabel: {
            margin: 20,
            rich: {
              value: {
                lineHeight: 30,
                align: 'center'
              },
              基本陈列: {
                height: 40,
                align: 'center',
              },
              主题展: {
                height: 40,
                align: 'center',
              },
              专题展览: {
                height: 40,
                align: 'center',
              },
              临时展览: {
                height: 40,
                align: 'center',
              },
              国博巡展: {
                height: 40,
                align: 'center',
              }
            }
          }
        },
        series: [
          {
            name: '全年展览数',
            type: 'bar',
            data: number_year,
            label: seriesLabel,
            markPoint: {
              symbolSize: 1,
              symbolOffset: [0, '50%'],
              label: {
                formatter: '{a|{a}\n}{b|{b} }{c|{c}}',
                backgroundColor: 'rgb(242,242,242)',
                borderColor: '#aaa',
                borderWidth: 1,
                borderRadius: 4,
                padding: [4, 10],
                lineHeight: 26,
                // shadowBlur: 5,
                // shadowColor: '#000',
                // shadowOffsetX: 0,
                // shadowOffsetY: 1,
                position: 'right',
                distance: 20,
                rich: {
                  a: {
                    align: 'center',
                    color: '#fff',
                    fontSize: 18,
                    textShadowBlur: 2,
                    textShadowColor: '#000',
                    textShadowOffsetX: 0,
                    textShadowOffsetY: 1,
                    textBorderColor: '#333',
                    textBorderWidth: 2
                  },
                  b: {
                    color: '#333'
                  },
                  c: {
                    color: '#ff8811',
                    textBorderColor: '#000',
                    textBorderWidth: 1,
                    fontSize: 22
                  }
                }
              },
            }
          },
          {
            name: '当前在展数',
            type: 'bar',
            label: seriesLabel,
            data: number_current
          }
        ]
      };


      myChart.setOption(option);

      window.onresize = function (ec) { // 监听窗口大小变化
        // console.log(ec)
        myChart.resize()       // 自适应大小变化
      }
    </script>

  <script type="text/javascript">
    var app = {};

    var element1 = document.getElementById("obj1").value;
    b=JSON.parse(element1);
    let name1=[];
    for(i=0;i<b.length;i++){
      name1[i]=b[i].name;
    }
    let year_reception_number=[];
    for(i=0;i<b.length;i++){
      year_reception_number[i]=b[i].year_reception_number;
    }
    let daily_reception_number=[];
    for(i=0;i<b.length;i++){
      daily_reception_number[i]=b[i].daily_reception_number;
    }
    let daily_online_pageviews_number=[];
    for(i=0;i<b.length;i++){
      daily_online_pageviews_number[i]=b[i].daily_online_pageviews_number;
    }

    var chartDom1 = document.getElementById('main1');
    var myChart1 = echarts.init(chartDom1);
    var option1;

    var posList = [
      'left', 'right', 'top', 'bottom',
      'inside',
      'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
      'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
    ];

    app.configParameters = {
      rotate: {
        min: -90,
        max: 90
      },
      align: {
        options: {
          left: 'left',
          center: 'center',
          right: 'right'
        }
      },
      verticalAlign: {
        options: {
          top: 'top',
          middle: 'middle',
          bottom: 'bottom'
        }
      },
      position: {
        options: posList.reduce(function (map, pos) {
          map[pos] = pos;
          return map;
        }, {})
      },
      distance: {
        min: 0,
        max: 100
      }
    };

    app.config = {
      rotate: 90,
      align: 'left',
      verticalAlign: 'middle',
      position: 'insideBottom',
      distance: 15,
      onChange: function () {
        var labelOption = {
          normal: {
            rotate: app.config.rotate,
            align: app.config.align,
            verticalAlign: app.config.verticalAlign,
            position: app.config.position,
            distance: app.config.distance
          }
        };
        myChart1.setOption({
          series: [{
            label: labelOption
          }, {
            label: labelOption
          }, {
            label: labelOption
          }, {
            label: labelOption
          }]
        });
      }
    };


    var labelOption = {
      show: true,
      position: app.config.position,
      distance: app.config.distance,
      align: app.config.align,
      verticalAlign: app.config.verticalAlign,
      rotate: app.config.rotate,
      formatter: '{c}  {name|{a}}',
      fontSize: 16,
      rich: {
        name: {
        }
      }
    };

    option1 = {
      title: {
        text: '接待观众数量&网上浏览量'
      },
      tooltip: {
        trigger: 'axis',
        axisPointer: {
          type: 'shadow'
        }
      },
      legend: {
        data: ['共接待观众数量','日均接待观众数量','网上展馆浏览量'],
        left: 250,
      },
      toolbox: {
        show: true,
        orient: 'vertical',
        left: 'right',
        top: 'center',
        feature: {
          mark: {show: true},
          dataView: {show: true, readOnly: false},
          magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
          restore: {show: true},
          saveAsImage: {show: true}
        }
      },
      xAxis: [
        {
          type: 'category',
          axisTick: {show: false},
          data: name1
        }
      ],
      yAxis: [
        {
          type: 'value'
        }
      ],
      series: [
        {
          name: '共接待观众数量',
          type: 'bar',
          barGap: 0,
          label: labelOption,
          emphasis: {
            focus: 'series'
          },
          data: year_reception_number
        },
        {
          name: '日均接待观众数量',
          type: 'bar',
          label: labelOption,
          emphasis: {
            focus: 'series'
          },
          data: daily_reception_number
        },
        {
          name: '网上展馆浏览量',
          type: 'bar',
          label: labelOption,
          emphasis: {
            focus: 'series'
          },
          data: daily_online_pageviews_number
        }
      ]
    };

    myChart1.setOption(option1);

  </script>

  <script type="text/javascript">
    var element2 = document.getElementById("obj").value;
    c=JSON.parse(element2);
    var chartDom2 = document.getElementById('main2');
    var myChart2 = echarts.init(chartDom2);
    var option2;

    let o=[];
    for(i=0;i<c.length;i++){
      o[i]={};
      o[i].name=c[i].name;
      o[i].value=c[i].number_year;
    }

    var element3 = document.getElementById("obj2").value;
    d=JSON.parse(element3);

    let o1=[];
    for(i=0;i<d.length;i++){
      o1[i]={};
      o1[i].name=d[i].type;
      o1[i].value=d[i].number;
    }

    let name2=[];
    for(i=0;i<d.length;i++){
      name2[i]=d[i].type;
    }
    option2 = {
      title: {
        text: '全年展出文物数量&展出文物类型',
      },
      tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
      },
      legend: {
        data: name2,
        padding: 50,
      },
      series: [
        {
          name: '展览类型',
          type: 'pie',
          selectedMode: 'single',
          radius: [0, '30%'],
          label: {
            position: 'inner',
            fontSize: 14,
          },
          labelLine: {
            show: false
          },
          data: o
        },
        {
          name: '文物类型',
          type: 'pie',
          radius: ['45%', '60%'],
          labelLine: {
            length: 30,
          },
          label: {
            formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
            backgroundColor: '#F6F8FC',
            borderColor: '#8C8D8E',
            borderWidth: 1,
            borderRadius: 4,

            rich: {
              a: {
                color: '#6E7079',
                lineHeight: 22,
                align: 'center'
              },
              hr: {
                borderColor: '#8C8D8E',
                width: '100%',
                borderWidth: 1,
                height: 0
              },
              b: {
                color: '#4C5058',
                fontSize: 14,
                fontWeight: 'bold',
                lineHeight: 33
              },
              per: {
                color: '#fff',
                backgroundColor: '#4C5058',
                padding: [3, 4],
                borderRadius: 4
              }
            }
          },
          data: o1
        }
      ]
    };

    myChart2.setOption(option2);
  </script>



  </div>
  <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- ChartJS -->
  <script src="../../bower_components/chart.js/Chart.js"></script>
  <!-- FastClick -->
  <script src="../../bower_components/fastclick/lib/fastclick.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>






  <!-- Optionally, you can add Slimscroll and FastClick plugins.
       Both of these plugins are recommended to enhance the
       user experience. -->
</div>
</body>
</html>